@import 'styles/base';

.header {
  background-color: $c-secondary;
  color: #fff;
  display: flex;
  align-items: center;
  height: $header-height;

  @media screen and (max-width: $phablet) {
    height: $header-height-sm;
  }
}

.logo {
  animation: fadein 300ms;
  width: 30px;
  height: 25px;
}

.logo svg {
  fill: #fff;
}

.white {
  background-color: #fff;

  .logo svg {
    fill: $c-secondary;
  }
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
