@import 'styles/base';

.wrapper {
  text-align: center;

  // Wrapper element from next
  & div {
    border-radius: 4px;
    background: none;
    display: block !important;
  }

  a {
    display: inline-block;
    font-size: rem(16px);
    font-weight: 300;
    padding-top: 15px;
  }
}

.shadow {
  // Wrapper element from next
  & div {
    box-shadow: 0 12px 24px 0 rgba(75, 77, 82, 0.16);
  }
}
