@use 'styles/base/variables' as vars;
@use 'styles/utils/functions' as functions;

.container {
  max-width: 500px;
  position: relative;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
    font-weight: 300;
  }

  input {
    margin-bottom: 25px;
  }

  textarea {
    margin-bottom: 35px;
    resize: vertical;
  }

  input,
  textarea {
    font-size: functions.rem(16px);
    border: 1px solid vars.$c-grey300;
    border-radius: 3px;
    padding: 8px 15px;

    &::placeholder {
      color: vars.$c-secondary;
      opacity: 0.4;
    }
  }
}

.feedback {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
