@import 'styles/base';

.button {
  background: none;
  border: none;
  color: #fff;
  font-size: rem(16px);
  padding: 12px 32px;
  border-radius: 4px;
  transition: background-color 250ms, box-shadow 250ms;
  cursor: pointer;

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    background-color: darken($c-primary, 5%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

.primary {
  background-color: $c-primary;
}
