@import 'styles/base';

.container {
  display: flex;
}

.image {
  small {
    color: $c-secondary-light;
    font-size: rem(16px);
    font-weight: 300;
    padding-top: 5px;
    display: inline-block;
  }

  @media screen and (max-width: $phablet) {
    margin-bottom: 40px;
  }
}

.text {
  font-size: rem(20px);
  font-weight: 300;

  p {
    margin-bottom: 30px;
  }

  a {
    color: $c-primary;
  }
}
