@use 'styles/base/variables' as vars;
@use 'styles/utils/functions' as functions;

.container {
  display: flex;
}

.image {
  small {
    color: vars.$c-secondary-light;
    font-size: functions.rem(16px);
    font-weight: 300;
    padding-top: 5px;
    display: inline-block;
  }

  @media screen and (max-width: vars.$phablet) {
    margin-bottom: 40px;
  }
}

.text {
  font-size: functions.rem(20px);
  font-weight: 300;

  p {
    margin-bottom: 30px;
  }

  a {
    color: vars.$c-primary;
  }
}
