@import '../base';

.homeHeader {
  background-color: $c-secondary;
  display: flex;
  height: calc(100vh - #{$header-height});
  width: 100%;

  @media screen and (max-width: $phablet), screen and (max-height: 580px) {
    height: auto;
  }
}

.section {
  padding-top: 120px;
}

.sectionTitle {
  margin-bottom: 115px;

  @media screen and (max-width: $phablet) {
    margin-bottom: 80px;
  }
}

.project {
  margin-bottom: 150px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: $phablet) {
    margin-bottom: 120px;
  }
}
