@import '../base';

.homeHeader {
  display: flex;
  height: calc(100vh - 80px); // 80px header
  width: 100%;

  @media screen and (max-width: $phablet) {
    height: auto;
  }
}

.project {
  margin-bottom: 150px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: $phablet) {
    margin-bottom: 120px;
  }
}
