@import 'styles/base';

.carouselWrapper {
  position: relative;
  padding: 0 20px;

  .swiper-container {
    position: relative;
    z-index: 1;
  }
}

.carouselArrow {
  cursor: pointer;
  position: absolute;
  border: none;
  background: none;
  top: 50%;
  z-index: 2;
  display: block;
  width: 20px;
  height: 20px;
  border-top: 3px solid $c-secondary;
  border-left: 3px solid $c-secondary;

  @media screen and (max-width: $phablet) {
    width: 15px;
    height: 15px;
  }
}

.carouselArrowLeft {
  left: -10px;
  transform: rotate(-45deg);
}

.carouselArrowRight {
  right: -10px;
  transform: rotate(135deg);
}
