@import 'styles/base';

.carouselWrapper {
  position: relative;

  .swiper-container {
    position: relative;
    z-index: 1;
  }
}

.carouselArrow {
  cursor: pointer;
  position: absolute;
  border: none;
  background: none;
  top: 50%;
  z-index: 2;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 3px solid $c-secondary;
  border-left: 3px solid $c-secondary;

  @media screen and (max-width: $phablet) {
    width: 20px;
    height: 20px;
  }
}

.carouselArrowLeft {
  left: -5px;
  transform: rotate(-45deg);

  @media screen and (max-width: $phablet) {
    left: -20px;
  }
}

.carouselArrowRight {
  right: -5px;
  transform: rotate(135deg);

  @media screen and (max-width: $phablet) {
    right: -20px;
  }
}
