@use 'styles/base/variables' as vars;
@use 'styles/base/animations';
@use 'styles/utils/functions' as functions;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  padding: 60px 0;

  @media screen and (max-width: vars.$phablet) {
    align-items: center;
    padding: 60px 0 20px;
  }
}

.bracket {
  margin-right: 50px;

  @media screen and (max-width: vars.$phablet) {
    display: none;
  }
}

.scroll {
  position: absolute;
  right: 0;
  bottom: 10%;
  display: flex;
  align-items: flex-end;
  height: 200px;

  .line {
    transform-origin: 100% 0;
    background-color: vars.$c-primary;
    border-radius: 2px;
    height: 200px;
    width: 2px;
    animation: slideIn 1.5s;
  }

  .button {
    font-weight: 300;
    font-size: functions.rem(24px);
    color: #fff;
    margin-bottom: 15px;
    transform: rotate(90deg);
    color: vars.$c-secondary-light;
    transition: color 300ms;
    border: none;
    background: none;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: #fff;
    }
  }

  .arrow {
    display: none;
  }

  @media screen and (max-width: vars.$phablet) {
    position: inherit;
    height: auto;
    right: auto;
    bottom: auto;

    .line {
      display: none;
    }

    .button {
      transform: none;
      margin-bottom: 0;
      display: none;
    }

    .arrow {
      display: block;
    }
  }
}

.content {
  align-items: center;
  margin-top: -(vars.$header-height);
  display: flex;

  h1 {
    font-size: functions.rem(48px);
    margin-bottom: 24px;
    font-weight: 300;
    max-width: 792px;
    line-height: 150%;

    & > strong {
      font-weight: 500;
      color: vars.$c-primary;
    }

    @media screen and (max-width: vars.$phablet) {
      font-size: functions.rem(36px);
    }
  }

  h1,
  p {
    // TODO: Think of a cool animation here
    animation: fadein 400ms;

    @media screen and (max-width: vars.$phablet) {
      text-align: center;
    }
  }

  p {
    font-weight: 200;
    font-size: functions.rem(24px);

    @media screen and (max-width: vars.$phablet) {
      display: none;
    }
  }

  @media screen and (max-width: vars.$phablet) {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 1em;
  }

  @media screen and (max-height: 580px) {
    margin-top: 0;
  }
}
