@import '../styles/base';

.heroHeaderWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.bracket {
  margin-right: 75px;
}

// TODO: PX to REM
.heroHeader {
  align-items: center;
  margin-top: -80px; // Header
  display: flex;

  h1 {
    font-size: 48px;
    margin-bottom: 25px;

    & > strong {
      color: $c-primary;
      font-weight: 600;
    }
  }

  h1,
  p:first-child,
  p:last-child {
    animation: fadein 1s;
    font-weight: 200;
  }

  p:first-child {
    font-size: 36px;
    margin-bottom: 15px;
  }

  p:last-child {
    font-size: 24px;
    max-width: 575px;

    & > strong {
      font-weight: 600;
    }
  }
}

// Separate animations
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
