@import '../styles/base';

.wrapper {
  position: relative;
}

.layer {
  position: absolute;
  width: 50%;
  z-index: 0;
  left: 0;
  top: 0;
  height: 90%;
  background-color: $c-grey200;
  margin-top: -35px;

  &.reverse {
    left: auto;
    right: 0;
  }

  @media screen and (max-width: $phablet) {
    display: none;
  }
}

.container {
  align-items: center;
}

.image {
  display: block;
  max-width: 710px;

  // Wrapper element from next
  & > div {
    background: none;
    display: block !important;
    box-shadow: 0 12px 24px 0 rgba(75, 77, 82, 0.1);
  }

  @media screen and (max-width: $phablet) {
    margin-bottom: 40px;
  }
}

.text {
  font-size: rem(18px);

  h3 {
    font-weight: 500;
    font-size: rem(36px);
    line-height: rem(36px);
  }

  small {
    display: inline-block;
    font-weight: 200;
    margin-bottom: 30px;
  }

  p {
    font-weight: 300;
    margin-bottom: 20px;
  }

  @media screen and (max-width: $phone) {
    text-align: center;
  }
}
