@import 'styles/base';

.comingSoon {
  text-align: center;
}

.wrapper {
  font-size: rem(20px);

  p {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hero {
  position: relative;
  z-index: 2;
  max-width: $m-desktop;
  width: 100%;
  margin: 0 auto 120px;

  @media screen and (max-width: $m-desktop) {
    margin-bottom: 60px;

    & div {
      border-radius: 0;
    }
  }
}

.introWrapper {
  margin-bottom: 200px;

  @media screen and (max-width: $phablet) {
    margin-bottom: 100px;
  }
}

.introContentWrapper {
  position: relative;
  z-index: 1;
}

.introContent {
  position: relative;
  z-index: 1;
}

.titleWrapper {
  margin-bottom: 40px;

  @media screen and (max-width: $phablet) {
    margin-bottom: 25px;
  }
}

.title {
  font-weight: 500;
  font-size: rem(48px);

  @media screen and (max-width: $phablet) {
    font-size: rem(36px);
  }
}

.tagsWrapper {
  @media screen and (max-width: $phablet) {
    padding-top: 35px;
  }
}

.tag {
  margin-bottom: 25px;

  small {
    font-size: rem(16px);
    text-transform: uppercase;
    color: $c-secondary;
    margin-bottom: 10px;
  }

  p {
    color: $c-secondary-light;
    font-size: rem(20px);
  }

  @media screen and (max-width: $phablet) {
    margin-bottom: 15px;
  }
}

.tagsLayer {
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background-color: $c-grey200;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;

  @media screen and (max-width: $phablet) {
    display: none;
  }
}

.goalsWrapper {
  position: relative;
  padding: 50px 0;
  z-index: 1;

  h2 {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: rem(28px);
  }

  @media screen and (max-width: $phablet) {
    padding: 0;
  }
}

.goalsLayer {
  position: absolute;
  width: 50%;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100%;
  background-color: $c-grey200;

  @media screen and (max-width: $phablet) {
    display: none;
  }
}

.blockHeader {
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 80px 0;

  .scrollLineWrapper {
    display: flex;
    align-items: center;
  }

  .scrollLine {
    background-color: $c-primary;
    border-radius: 2px;
    height: 200px;
    width: 2px;

    @media screen and (max-width: $phablet) {
      display: none;
    }
  }

  .bgLeft {
    position: absolute;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: $c-secondary;
    z-index: 0;

    @media screen and (max-width: $phablet) {
      width: 100%;
    }
  }

  .bgRight {
    position: absolute;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: $c-grey200;
    z-index: 0;

    @media screen and (max-width: $phablet) {
      display: none;
    }
  }
}

.blockTitle {
  display: flex;
  align-items: center;
  width: 100%;

  h2 {
    color: #fff;
    font-size: rem(40px);
    font-weight: 500;
    width: 100%;

    @media screen and (max-width: $phablet) {
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

.blockIndex {
  h3 {
    font-size: rem(22px);
    font-weight: 400;
    margin-bottom: 15px;
  }

  ul {
    font-size: rem(22px);
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 0;
    list-style: none;
    font-weight: 200;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $phablet) {
    width: 100%;
    text-align: center;
    color: #fff;
  }
}
