@keyframes slideBorder {
  from {
    transform: scale3d(0, 1, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes comeIn {
  to {
    transform: translateY(0);
  }
}

.comein {
  transform: translateY(150px);
  animation: comeIn 800ms ease forwards;
  opacity: 1 !important;
}

.comein:nth-child(odd) {
  animation-duration: 600ms;
}

.fadein {
  transform: translateY(0);
  animation: none;
  opacity: 1 !important;
}
