@import '../styles/base';

// TODO: Nested classes?
.homeSection {
  display: flex;
  height: 100vh;
  width: 100%;
  min-height: 400px;

  &:first-of-type {
    height: calc(100vh - 80px); // Header
  }
}
