@import '../styles/base';

// TODO: Nested classes?
.homeSection {
  display: flex;
  height: 100vh;
  width: 100%;

  &:first-of-type {
    height: calc(100vh - 80px); // Header
  }

  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.homeSectionWhite {
  color: $c-secondary;
  background-color: #fff;
}
