@use 'styles/base/variables' as vars;
@use 'styles/utils/functions' as functions;
@use 'styles/base/animations';

.wrapper {
  font-size: functions.rem(20px);

  p {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .listTitle {
    margin-bottom: 20px;
  }

  ul:not(:last-child) {
    margin-bottom: 30px;
  }
}

.hero {
  position: relative;
  z-index: 2;
  max-width: vars.$m-desktop;
  width: 100%;
  margin: 0 auto 120px;

  @media screen and (max-width: vars.$m-desktop) {
    margin-bottom: 60px;

    // Wrapper element from next
    div {
      border-radius: 0 !important;
    }
  }
}

.introWrapper {
  margin-bottom: 200px;

  @media screen and (max-width: vars.$phablet) {
    margin-bottom: 100px;
  }
}

.introContentWrapper {
  position: relative;
  z-index: 1;
}

.introContent {
  position: relative;
  z-index: 1;
}

.titleWrapper {
  margin-bottom: 40px;

  @media screen and (max-width: vars.$phablet) {
    margin-bottom: 25px;
  }
}

.title {
  h1 {
    font-weight: 500;
    font-size: functions.rem(64px);
    line-height: 5rem;

    @media screen and (max-width: vars.$phablet) {
      font-size: functions.rem(48px);
    }
  }

  small {
    color: vars.$c-secondary-light;
  }
}

.tagsWrapper {
  @media screen and (max-width: vars.$phablet) {
    padding-top: 35px;
  }
}

.tag {
  margin-bottom: 25px;

  small {
    font-size: functions.rem(16px);
    text-transform: uppercase;
    color: vars.$c-secondary;
    margin-bottom: 10px;
  }

  p {
    color: vars.$c-secondary-light;
    font-size: functions.rem(20px);
  }

  @media screen and (max-width: vars.$phablet) {
    margin-bottom: 15px;
  }
}

.tagsLayer {
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background-color: vars.$c-grey200;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;

  @media screen and (max-width: vars.$phablet) {
    display: none;
  }
}

.goalsWrapper h2 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: functions.rem(36px);
}

.blockHeader {
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 80px 0;

  .scrollLineWrapper {
    display: flex;
    align-items: center;
  }

  .scrollLine {
    background-color: vars.$c-primary;
    border-radius: 2px;
    height: 200px;
    width: 2px;

    @media screen and (max-width: vars.$phablet) {
      display: none;
    }
  }

  .bgLeft {
    position: absolute;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: vars.$c-secondary;
    z-index: 0;

    @media screen and (max-width: vars.$phablet) {
      width: 100%;
    }
  }

  .bgRight {
    position: absolute;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: vars.$c-grey200;
    z-index: 0;

    @media screen and (max-width: vars.$phablet) {
      display: none;
    }
  }
}

.blockTitle {
  display: flex;
  align-items: center;
  width: 100%;

  h2 {
    color: #fff;
    font-size: functions.rem(48px);
    font-weight: 500;
    width: 100%;

    @media screen and (max-width: vars.$phablet) {
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

.blockIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .indexGroup {
    margin-bottom: 35px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: functions.rem(24px);
    font-weight: 400;
    margin-bottom: 10px;
  }

  ul {
    font-size: functions.rem(20px);
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-weight: 200;
  }

  @media screen and (max-width: vars.$phablet) {
    width: 100%;
    text-align: center;
    color: #fff;
  }
}

.segment {
  padding-top: 150px;

  @media screen and (max-width: vars.$phablet) {
    padding-top: 90px;
  }
}

.segmentTitle {
  font-size: functions.rem(36px);
  text-align: center;
  font-weight: 400;
  margin-bottom: 60px;

  @media screen and (max-width: vars.$phablet) {
    margin-bottom: 40px;
  }
}

.segmentIntro {
  ul {
    font-weight: 300;
  }
}

.segmentImage {
  padding-top: 60px;

  @media screen and (max-width: vars.$phablet) {
    padding-top: 40px;
  }
}

.highlightBackground {
  background-color: vars.$c-grey200;
  margin-top: 60px;
  padding: 150px 0;

  @media screen and (max-width: vars.$phablet) {
    margin-top: 40px;
    padding: 100px 0;
  }
}

.highlightBackgroundBlue {
  background-color: vars.$c-blue-light;
}

.highlightBackgroundPink {
  background-color: vars.$c-pink-light;
}

.userFlowImage {
  @media screen and (max-width: vars.$phablet) {
    margin-bottom: 40px;
  }
}

.imagePaddingTop {
  padding-top: 100px;
}

.wrappingUp {
  background-color: vars.$c-grey200;
  padding: 120px 0;

  h3 {
    font-size: functions.rem(32px);
    font-weight: 500;
    margin-bottom: 60px;
  }

  @media screen and (max-width: vars.$phablet) {
    padding: 80px 0;
  }
}

.imageExplanation {
  margin-bottom: 40px;
  padding: 0 40px;
}

.prototypeWrapper {
  padding-top: 80px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(75, 77, 82, 0.1);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  display: none;

  .navbarWrapper {
    max-width: vars.$m-desktop;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navbarItem {
    color: vars.$c-secondary;
    font-size: functions.rem(18px);
    flex: 1;
    font-weight: 200;
    position: relative;
    transition:
      background-color 300ms,
      margin-left 200ms;
    animation: fadein 400ms;
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 5px 0;

    &:hover {
      background-color: vars.$c-grey200-hover;
    }
  }

  .navbarItemActive {
    color: vars.$c-primary;
    font-weight: 500;
    background-color: vars.$c-grey200;
  }

  @media screen and (max-width: vars.$phablet) {
    display: none !important;
  }
}

.navbarActive {
  display: flex;
}
