@use 'styles/base/variables' as vars;
@use 'styles/utils/functions' as functions;

.wrapper {
  font-size: functions.rem(20px);

  p {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
