@use 'styles/base/variables' as vars;

.homeHeader {
  background-color: vars.$c-secondary;
  display: flex;
  height: calc(100vh - #{vars.$header-height});
  width: 100%;

  @media screen and (max-width: vars.$phablet), screen and (max-height: 580px) {
    height: auto;
  }
}

.section {
  padding-top: 120px;

  &:last-of-type {
    padding-top: 0;
  }
}

.sectionTitle {
  margin-bottom: 115px;

  @media screen and (max-width: vars.$phablet) {
    margin-bottom: 80px;
  }
}

.project {
  margin-bottom: 150px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: vars.$phablet) {
    margin-bottom: 120px;
  }
}
